<h1 class='my-3'>Songs</h1>

<label>
  <span>What song do you wanna listen to?</span>
  <Input @value={{this.query}} class='form-control' />
</label>

<div class='container my-4'>
  <div class='row'>
    <Songs::Filter @songs={{@songs}} @query={{this.query}} as |songs|>
      {{#each songs as |song|}}
        <div class='col'>
          <Songs::Song @song={{song}} />
        </div>
      {{/each}}
    </Songs::Filter>
  </div>
</div>